*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bodyAddAdmin{
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    font-weight: bold;
}
.card{
    height: 100%;
}
#h-100{
    margin-left: 10%;
    margin-top: 8%;
    background-color: #CACACA;
}
.btn-primary{
    background-color: #038DFE;
}
.text-primary{
    color: #038DFE;
}
.title{
    font-size: xxx-large;
}
#addAdmin{
    margin-left: 7%;
    margin-top: 5%;
    background-color: #CACACA;
}
#logup{
    height: 60vh;
    width: 40vw;
}