*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    position: relative;
    left: 0;
    height:4.5rem;
    width:4.5rem;
}
.logoicon{
    height:2.5rem;
    width:2.5rem;
}
body{
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav, #side_bar{
    background-color: #292827;
}
nav{
    position: fixed;
    width: 91.66666667%;
    margin-left: 8.33333333%;
    z-index: 1;
}
#side_bar{
    position:fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    height: 100vh;
}
.book-photo{
    width: 99%;
    height: 70%;
}
main{
    margin-left: 8.33333333%;
}
footer{
    background-color: #34160E;
}
.mt-10{
    margin-top: 9%;
}