*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    height:4rem;
    width:4rem;
}
body{
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav, #side_bar{
    background-color: #292827;
}
nav{
    position: fixed;
    width: 100vw;
    z-index: 1;
}
#side_bar{
    position:sticky;
    left: 0;
    bottom: 0;
    top: 15.4%;
    height: 100vh;
}
.book-photo{
    width: 99%;
    height: 70%;
}
.mt-10{
    margin-top: 15.4vh;
}
footer{
    background-color: #34160E;
}